﻿
@{
}
<head>
    <link rel="stylesheet" href="~/css/EstiloCrearCuenta.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>Crear Cuenta</title>
</head>
<body>
    <header>
        <div>
            <p class="fs-2 text-center">Crea una cuenta de usuario para manejar tus finanzas</p>
        </div>
    </header>
    <div id="contiene-crearCuenta">
        <h1>Crea tu cuenta gratis y comienza a aprender!</h1>
        <form action="/auth/create-account-post" method="post">

            <label>Nombre: </label>
            <input class="input" type="text" placeholder="Ingresa tu nombre" name="Nombre" required />

            <label>Apellido: </label>
            <input class="input" type="text" placeholder="Ingresa tu apellido" name="Apellido" required />

            <label>DNI: </label>
            <input class="input" type="text" placeholder="Ingresa tu número de DNI" name="DNI" maxlength="7" />

            <label>Número de celular: </label>
            <input class="input" type="text" placeholder="Ingresa tu número de celular" name="NumeroCelular" maxlength="9" />

            <label>Correo: </label>
            <input class="input" type="text" placeholder="Ingresa aquí Correo electrónico" name="Correo" required />

            <label>Contraseña:</label>
            <input class="input" type="password" name="Contrasenia" required /><br />
            <button class="button is-link">Crear cuenta</button>
            <a href="/#" class="button is-link is-light" type="reset" style="top: 40px; position: relative;">Cancel</a>
        </form>
    </div>
</body>
<br />
<br />
<br /><br /><br /><br /><br /><br /><br /><br />