﻿@{
}

<head>
    <link rel="stylesheet" href="/css/EstilosLogin.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <div>
            <p class="fs-2 text-center">Inicia Sesión para manejar tus finanzas</p>
        </div>
    </header>

    <div id="Login">
        <h1>Iniciar Sesión</h1>
        <form action="/auth/login-post" method="post">
            <p>Usuario</p>
            <input class="input" type="text" name="correo" placeholder="tu nombre de usuario" required />
            <p>Contraseña</p>
            <input class="input" type="password" name="password" required /><br />
            <br />

            <button id="insesion" class="button is-link">Iniciar sesión</button>
            <a href="/#" class="button is-link is-light" style="top: 20px; position: relative;">Cancelar</a>
        </form>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>


