﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div>
        @foreach(Contactos contact in Model)
            {
                <div class="card">
                    <p>@contact.CorreoPCuenta</p>
                    <a href="/Finanzas/TransferenciaUsuario?idC=@contact.IdPrimeraCuenta">Transferir</a>
                </div>
            }
    </div>
</div>
