﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div>
        @foreach(SolicitudAmistad solicitud in Model)
            {
                <div class="card">
                    <div class="card-title">
                        <p>@solicitud.CorreoOrigen quiere ser tu amigo</p>
                        <a href="/usuarios/aceptar-sol?idS=@solicitud.Id" class="btn btn-primary btn-sm">Aceptar</a>
                    </div>
                </div>
            }
    </div>
</div>
