﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<div class="container">
    <div>
        @foreach(Usuario user in Model)
            {
                <div class="card">
                    <div class="card-title">
                        <p class="fs-3">@user.Nombre</p>
                        <p>@user.Apellido</p>
                    </div>
                    <div class="card-body">
                        <p>@user.Correo</p>
                    </div>
                    <a href="/usuarios/solicita-post?idSol=@user.Id" class="btn btn-primary btn-sm">Añadir a amigo</a>
                </div>
            }
    </div>
</div>