﻿@{
    Layout = "_layout";
}
<div>
    <p class="fs-2 text-center">Registrar Ingreso</p>
</div>
<br />
<div>
    <form class="col" asp-controller="Finanzas" asp-action="CreaIngreso" method="post">
        <label for="Cuenta" class="form-label form-text col-md-8">Cuenta: </label>

        <select id="cuentaS" class="col-md-8 form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
            <option></option>
            @foreach (Cuenta cuenta in Model)
            {
                <option value="@cuenta.Saldo">@cuenta.Nombre</option>
            }
        </select>

        <div id="MontoC" class="col-md-8"></div>

        <input type="text" id="Cuenta" name="Cuenta" class="form-control col-md-8" readonly="readonly" required />
        <br />
        <label for="Descripcion" class="form-label form-text col-md-8">Descripción</label>
        <input type="text" id="Descripcion" name="Descripcion" class="form-control form-text col-md-8" placeholder="Descripción del ingreso" required />

        <label for="Monto" class="form-label form-text col-md-8">Monto</label>
        <input step="any" type="number" id="Monto" name="Monto" class="form-control col-md-8" required />
        <br />
        <button class="btn btn-primary " id="btnreg">Registrar</button>
    </form>
    @if (TempData["AuthMessage"] != null)
    {
        <p id="AuthMessage">@TempData["AuthMessage"]</p>
    }

</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $('#cuentaS').change(function () {
                var monto = $('#cuentaS').val();
                var cuenta = $('#cuentaS option:selected').html();

                $('#MontoC').html('<span class="saldo-span form-text col-md-6">Saldo actual:' + monto + '</span>');

                $('#Cuenta').val(cuenta);

                $('#MontoC').attr("max", monto);
            })
        })
    </script>
}