﻿@{
    Layout = "_Layout";
}

    <div class="container">
        <div>
            <div>
                <div class="container">
                    <a href="/Finanzas/CrearCuenta" class="btn btn-dark">Crear cuenta</a>
                </div>
            </div>
        </div>
         <div>
         </div>
        <div>
            <p class="fs-3">Finazas</p>
        <table class="table border">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de la cuenta</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Saldo </th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    int contador = 0;
                }
                @foreach (var cuenta in Model)
                {
                    contador++;
                    <tr >
                    <th scope="row">@contador</th>
                    <td>@cuenta.Nombre</td>
                    <td>@cuenta.Categoria</td>
                    <td>@cuenta.Saldo</td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
