﻿<html>
<head>
    <title>Gastos</title>
</head>
<body>
    <div class="fs-2">
        <p class="text-center">Gastos</p>
    </div>
    <div>
        <div>
            <a href="/Finanzas/RegistraGasto" class="btn btn-primary ">Registrar Gasto</a>
        </div>
        <br />
        <div>
            <table class="table border">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre de la cuenta</th>
                        <th scope="col">Fecha de Registro</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Monto </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int contador = 0;
                    }
                    @foreach (Gasto gasto in Model)
                    {
                        contador++;
                        <tr>
                            <th scope="row">@contador</th>
                            <td>@gasto.Cuenta</td>
                            <td>@gasto.FechaRegistro</td>
                            <td>@gasto.Descripcion</td>
                            <td>@gasto.Monto</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>