﻿@{
}
<style>
    .saldo-span {
        font-size: 0.8em;
    }
</style>
<div>
    <p class="fs-2 text-center">Registrar Gasto</p>
</div>
<br />
<div class="container">
    <form class="col" asp-controller="Finanzas" asp-action="RegistraGasto" method="post">

        <label for="Cuenta" class="form-label form-text col-md-8">Cuenta: </label>
        <select id="cuentaS" class="col-md-8 form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option></option>
            @foreach (Cuenta cuenta in Model)
            {
                <option value="@cuenta.Saldo">@cuenta.Nombre</option>
            }
        </select>

        <input type="text" id="Cuenta" name="Cuenta" class="form-control col-md-8" readonly="readonly" />
        <br />
        <label for="Descripcion" class="form-label form-text col-md-8">Descripción</label>
        <input type="text" id="Descripcion" name="Descripcion" class="form-control form-text col-md-8" />

        <div class="d-flex col-md-8">
            <label for="Monto" class="form-label form-text col-md-6">Monto</label>
            <div id="mtMax">
                <!--<span id="montoMaximo">Saldo disponible:</span>-->
            </div>
        </div><br />
        <div class="d-flex col-md-8">
            <div id="advertencia"></div>
            <input step="any" type="number" id="Monto" name="Monto" class="form-control col-md-6" />
        </div>
        <button class="btn btn-primary" id="btnreg">Registrar</button>
    </form>
    @if (TempData["AuthMessage"] != null)
    {
        <p id="AuthMessage">@TempData["AuthMessage"]</p>
    }

</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $('#cuentaS').change(function () {
                var monto = $('#cuentaS').val();
                var cuenta = $('#cuentaS option:selected').html();
                $('#mtMax').html('<span class="saldo-span form-text col-md-6">Saldo disponible:' + monto + '</span>');

                $('#Cuenta').val(cuenta);

                $('#Monto').attr("max", monto);
            })
            $('#Monto').change(function () {
                var monto = $('#cuentaS').val();
                var maxMonto = $('#Monto').val();

                if (parseFloat(maxMonto) > parseFloat(monto)){
                    $('#advertencia').html('<span class="saldo-span form-text col-md-6 text-danger">El monto no debe exceder a:' + monto + '</span>');
                    $("#btnreg").prop('disabled', true);//problemas con las cantidades
                }
                
            })
            $('#Monto').change(function () {
                var monto = $('#cuentaS').val();
                var maxMonto = $('#Monto').val();
                if (parseFloat(maxMonto) <= parseFloat(monto)) {
                    $("#btnreg").prop('disabled', false);
                }
            })
        })

    </script>
   
}
