﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Usuario user = Model.UserDestino;
}
<div>
    <div>
        <p>@user.Nombre @user.Apellido</p>
        <p>@user.Correo</p>
    </div>
    <div>
        <form class="col" asp-controller="Finanzas" asp-action="TransfiereDineroUsuario" method="post">
            <label for="Cuenta" class="form-label form-text col-md-8">Cuenta de Origen: </label>
            <input type="hidden" name="IdCuentaDestino" value="@user.Id"/>
            <select id="cuentaSOrigen" class="col-md-8 form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                <option></option>
                @foreach (Cuenta cuenta in Model.ListaCuentasUsuario)
                {
                    <option value="@cuenta.Saldo">@cuenta.Nombre</option>
                }
            </select>
            <input type="text" id="CuentaOrigen" name="CuentaOrigen" class="form-control col-md-8" required />
            <div id="Monto" class="col-md-8"></div>

            <label for="Cuenta" class="form-label form-text col-md-8">Cuenta de Destino: </label>

            <select id="cuentaSDestino" class="col-md-8 form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                <option></option>
                @foreach (Cuenta cuenta in Model.ListaCuentasDestino)
                {
                    <option value="@cuenta.Saldo">@cuenta.Nombre</option>
                }
            </select>

            <input type="text" id="CuentaDestino" name="CuentaDestino" class="form-control col-md-8"  required />

            <label for="Descripcion" class="form-label form-text col-md-8">Descripción</label>
            <input type="text" id="Descripcion" name="Descripcion" class="form-control form-text col-md-8" placeholder="Descripción del ingreso" required />

            <label for="Monto" class="form-label form-text col-md-8">Monto</label>
            <input step="any" type="number" id="Monto" name="Monto" class="form-control col-md-8" max="10000" required />
            <br />
            <button class="btn btn-primary " id="btnreg">Registrar</button>
        </form>
    </div>
</div>
@section Scripts{
    <script>
            $(document).ready(function () {
                //cuenta origen
                $('#cuentaSOrigen').change(function () {
                    var monto = $('#cuentaSOrigen').val();
                    var cuenta = $('#cuentaSOrigen option:selected').html();
                    $('#Monto').html('<label class="saldo-span form-text col-md-8">Saldo actual:' + monto + '</label>');

                    $('#CuentaOrigen').val(cuenta);

                    $('#Monto').attr("max", monto);
                })
                //cuenta destino
                $('#cuentaSDestino').change(function () {
                    var monto = $('#cuentaSDestino').val();
                    var cuenta = $('#cuentaSDestino option:selected').html();

                    $('#CuentaDestino').val(cuenta);

                    //$('#Monto').html('<p>')
                })

                $('#Monto').change(function () {
                    var monto = $('#cuentaS').val();
                    var maxMonto = $('#Monto').val();

                    if (parseFloat(maxMonto) > parseFloat(monto)) {
                        alert("Estamos ")
                        $('#advertencia').html('<span class="saldo-span form-text col-md-6 text-danger">El monto no debe exceder a:' + monto + '</span>');
                        //$("#btnreg").prop('disabled', true);//problemas con las cantidades
                    }
                })
                $('#Monto').change(function () {
                    var monto = $('#cuentaS').val();
                    var maxMonto = $('#Monto').val();
                    if (parseFloat(maxMonto) <= parseFloat(monto)) {
                        $("#btnreg").prop('disabled', false);
                    }
                })
            })

        </script>
        <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
}